<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" data-turbolinks-track="reload"></script>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="Z1ZzPXPWzBYRZUO1dxzkUkDPGD55f9HzZViVeyz323TF21GZrTltnMPf0AgCGBC9ZT/JfxHPoKyJujpBukOIdw==">
  </head>

  <body>
    <p id="notice"></p>
    <h1>Books</h1>
   <table>
    <thead>
     <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <td>本タイトル7</td>
        <td>本タイトル７</td>
        <td><a class="show_1669" href="/books/1669">Show</a></td>
        <td><a class="edit_1669" href="/books/1669/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1669" rel="nofollow" data-method="delete" href="/books/1669">Destroy</a></td>
      </tr>
      <tr>
        <td>rails</td>
        <td>aaaaaaaaaaa</td>
        <td><a class="show_1670" href="/books/1670">Show</a></td>
        <td><a class="edit_1670" href="/books/1670/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1670" rel="nofollow" data-method="delete" href="/books/1670">Destroy</a></td>
      </tr>
      <tr>
        <td>aaa</td>
        <td>aaa</td>
        <td><a class="show_1671" href="/books/1671">Show</a></td>
        <td><a class="edit_1671" href="/books/1671/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1671" rel="nofollow" data-method="delete" href="/books/1671">Destroy</a></td>
      </tr>
      <tr>
        <td>テスト</td>
        <td>aaaaa</td>
        <td><a class="show_1668" href="/books/1668">Show</a></td>
        <td><a class="edit_1668" href="/books/1668/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1668" rel="nofollow" data-method="delete" href="/books/1668">Destroy</a></td>
      </tr>
      <tr>
        <td>テスト</td>
        <td>ssss</td>
        <td><a class="show_1673" href="/books/1673">Show</a></td>
        <td><a class="edit_1673" href="/books/1673/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1673" rel="nofollow" data-method="delete" href="/books/1673">Destroy</a></td>
      </tr>
      <tr>
        <td>テスト</td>
        <td>ssss</td>
        <td><a class="show_1674" href="/books/1674">Show</a></td>
        <td><a class="edit_1674" href="/books/1674/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1674" rel="nofollow" data-method="delete" href="/books/1674">Destroy</a></td>
      </tr>
      <tr>
        <td>テスト</td>
        <td>tttt</td>
        <td><a class="show_1676" href="/books/1676">Show</a></td>
        <td><a class="edit_1676" href="/books/1676/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1676" rel="nofollow" data-method="delete" href="/books/1676">Destroy</a></td>
      </tr>
      <tr>
        <td>こんにちは</td>
        <td>koko</td>
        <td><a class="show_1677" href="/books/1677">Show</a></td>
        <td><a class="edit_1677" href="/books/1677/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1677" rel="nofollow" data-method="delete" href="/books/1677">Destroy</a></td>
      </tr>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_1661" href="/books/1661">Show</a></td>
        <td><a class="edit_1661" href="/books/1661/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1661" rel="nofollow" data-method="delete" href="/books/1661">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_1662" href="/books/1662">Show</a></td>
        <td><a class="edit_1662" href="/books/1662/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1662" rel="nofollow" data-method="delete" href="/books/1662">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_1663" href="/books/1663">Show</a></td>
        <td><a class="edit_1663" href="/books/1663/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1663" rel="nofollow" data-method="delete" href="/books/1663">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_1664" href="/books/1664">Show</a></td>
        <td><a class="edit_1664" href="/books/1664/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1664" rel="nofollow" data-method="delete" href="/books/1664">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>

        <td><a class="show_1665" href="/books/1665">Show</a></td><td><a class="edit_1665" href="/books/1665/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1665" rel="nofollow" data-method="delete" href="/books/1665">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_1666" href="/books/1666">Show</a></td>
        <td><a class="edit_1666" href="/books/1666/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1666" rel="nofollow" data-method="delete" href="/books/1666">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_1667" href="/books/1667">Show</a></td>
        <td><a class="edit_1667" href="/books/1667/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_1667" rel="nofollow" data-method="delete" href="/books/1667">Destroy</a></td>
      </tr>
  </tbody>
</table>

　<!-- form_with部分 -->
　<%= form_with model: @list, url:'/books', local:true do |f| %>
　<h2>New book</h2>
 　　<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
  　　<input name="utf8" type="hidden" value="✓">
  　 　<input type="hidden" name="authenticity_token" value="noLzQ2dEhrX+Dlpxw68pno+/mIhakhslCBcPXFgWfhJ8KuJUUIz9AgR6oyEVAsIbbgK+01Sfn0Vywm1bZeBalQ==">

  　 　<div class="field">
   　　 <label for="book_title">Title</label>
    　　<input class="book_title" type="text" name="book[title]" id="book_title">
  　 　</div>

  　 　<div class="field">
    　　<label for="book_body">Body</label>
    　　<textarea class="book_body" name="book[body]" id="book_body"></textarea>
   　　</div>

 　 　 <div class="actions">
    　　<input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
   　</div>
  　</form>
　<% end %>
 </body>
</html>